/* Base16 Atelier Savanna Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/savanna) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Savanna Comment */
.hljs-comment,
.hljs-quote {
  color: #78877d !important;
}

/* Atelier-Savanna Red */
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #b16139 !important;
}

/* Atelier-Savanna Orange */
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #9f713c !important;
}

/* Atelier-Savanna Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #489963 !important;
}

/* Atelier-Savanna Blue */
.hljs-title,
.hljs-section {
  color: #478c90 !important;
}

/* Atelier-Savanna Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #55859b !important;
}

.hljs-deletion,
.hljs-addition {
  color: #171c19 !important;
  display: inline-block !important;
  width: 100% !important;
}

.hljs-deletion {
  background-color: #b16139 !important;
}

.hljs-addition {
  background-color: #489963 !important;
}

.hljs {
  display: block !important;
  overflow-x: auto !important;
  background: #171c19 !important;
  color: #87928a !important;
  padding: 0.5em !important;
}

.hljs-emphasis {
  font-style: italic !important;
}

.hljs-strong {
  font-weight: bold !important;
}
