/*

FAR Style (c) MajestiC <majestic2k@gmail.com>

*/

.hljs {
  display: block !important;
  overflow-x: auto !important;
  padding: 0.5em !important;
  background: #000080 !important;
}

.hljs,
.hljs-subst {
  color: #0ff !important;
}

.hljs-string,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #ff0 !important;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-type,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-variable {
  color: #fff !important;
}

.hljs-comment,
.hljs-quote,
.hljs-doctag,
.hljs-deletion {
  color: #888 !important;
}

.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #0f0 !important;
}

.hljs-meta {
  color: #008080 !important;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-strong {
  font-weight: bold !important;
}

.hljs-emphasis {
  font-style: italic !important;
}
