/*

grayscale style (c) MY Sun <simonmysun@gmail.com>

*/

.hljs {
  display: block !important;
  overflow-x: auto !important;
  padding: 0.5em !important;
  color: #333 !important;
  background: #fff !important;
}

.hljs-comment,
.hljs-quote {
  color: #777 !important;
  font-style: italic !important;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333 !important;
  font-weight: bold !important;
}

.hljs-number,
.hljs-literal {
  color: #777 !important;
}

.hljs-string,
.hljs-doctag,
.hljs-formula {
  color: #333 !important;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2O8e/fufwYGBgZBQUEQxcCIIfDu3Tuwivfv30NUoAsAALHpFMMLqZlPAAAAAElFTkSuQmCC) repeat !important;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #000 !important;
  font-weight: bold !important;
}

.hljs-subst {
  font-weight: normal !important;
}

.hljs-class .hljs-title,
.hljs-type,
.hljs-name {
  color: #333 !important;
  font-weight: bold !important;
}

.hljs-tag {
  color: #333 !important;
}

.hljs-regexp {
    color: #333 !important;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQAN37979r6yszIgujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQDexSef15DBCwAAAABJRU5ErkJggg==) repeat !important;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #000 !important;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAO7d+/+z4gsBhJwdXVlhAvCBECKwIIwAbhKZBUwBQA6hBpm5efZsgAAAABJRU5ErkJggg==) repeat !important;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #000 !important;
  text-decoration: underline !important;
}

.hljs-meta {
  color: #999 !important;
  font-weight: bold !important;
}

.hljs-deletion {
  color: #fff !important;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAE0lEQVQIW2MMDQ39zzhz5kwIAQAyxweWgUHd1AAAAABJRU5ErkJggg==) repeat !important;
}

.hljs-addition {
  color: #000 !important;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAALUlEQVQYV2N89+7dfwYk8P79ewZBQUFkIQZGOiu6e/cuiptQHAPl0NtNxAQBAM97Oejj3Dg7AAAAAElFTkSuQmCC) repeat !important;
}

.hljs-emphasis {
  font-style: italic !important;
}

.hljs-strong {
  font-weight: bold !important;
}
