/*

School Book style from goldblog.com.ua (c) Zaripov Yura <yur4ik7@ukr.net>

*/

.hljs {
  display: block !important;
  overflow-x: auto !important;
  padding: 15px 0.5em 0.5em 30px !important;
  font-size: 11px !important;
  line-height:16px !important;
}

pre{
  background:#f6f6ae url(./school-book.png) !important;
  border-top: solid 2px #d2e8b9 !important;
  border-bottom: solid 1px #d2e8b9 !important;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color:#005599 !important;
  font-weight:bold !important;
}

.hljs,
.hljs-subst {
  color: #3e5915 !important;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute,
.hljs-built_in,
.hljs-builtin-name,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable,
.hljs-link {
  color: #2c009f !important;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #e60415 !important;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-name,
.hljs-selector-id,
.hljs-strong {
  font-weight: bold !important;
}

.hljs-emphasis {
  font-style: italic !important;
}
