/*

Zenburn style from voldmar.ru (c) Vladimir Epifanov <voldmar@voldmar.ru>
based on dark.css by Ivan Sagalaev

*/

.hljs {
  display: block !important;
  overflow-x: auto !important;
  padding: 0.5em !important;
  background: #3f3f3f !important;
  color: #dcdcdc !important;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag {
  color: #e3ceab !important;
}

.hljs-template-tag {
  color: #dcdcdc !important;
}

.hljs-number {
  color: #8cd0d3 !important;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute {
  color: #efdcbc !important;
}

.hljs-literal {
  color: #efefaf !important;
}

.hljs-subst {
  color: #8f8f8f !important;
}

.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
  color: #efef8f !important;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #dca3a3 !important;
}

.hljs-deletion,
.hljs-string,
.hljs-built_in,
.hljs-builtin-name {
  color: #cc9393 !important;
}

.hljs-addition,
.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: #7f9f7f !important;
}


.hljs-emphasis {
  font-style: italic !important;
}

.hljs-strong {
  font-weight: bold !important;
}
